body {
	margin:0;
}
header {
	border-bottom:solid 2px black;
	padding:.8em;
	display:flex;
}
form {
	margin:0;
}

#ipt {
	flex:80;
}
#other {
	flex:20;
}
#content {
	display:flex;
}
#container {
	padding:10px;
	flex:80;
}
#settings {
	flex:20;
	background-color:gray;
}

.btt {
	background-color:blue;
	color:white;
	border:solid 2px blue;
	padding:.2em;
}
.btt:hover {
	color:blue;
	background-color:white;
}
.not_match {
	background-color:red;
	padding:1px;
}


a {
	color:blue;
	text-decoration:none;
	padding:.2em;
}
a:hover {
	background-color:blue;
	color:white;
}